<!-- post-container -->
    <div class="post-container">
        <h2 class="page-heading">Search : Search Term</h2>
        <div class="post-content">
            <div class="row">
                <div class="col-md-4">
                    <a class="post-img" href="single.html"><img src="images/post-format.jpg" alt=""/></a>
                </div>
                <div class="col-md-8">
                    <div class="inner-content clearfix">
                        <h3><a href='single.html'>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <div class="post-information">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='category.html'>PHP</a>
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href='author.html'>Admin</a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                01 Nov, 2025
                            </span>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
                        </p>
                        <a class='read-more pull-right' href='single.html'>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="row">
                <div class="col-md-4">
                    <a class="post-img" href="single.html"><img src="images/post_1.jpg" alt=""/></a>
                </div>
                <div class="col-md-8">
                    <div class="inner-content clearfix">
                        <h3><a href='single.html'>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <div class="post-information">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='category.html'>PHP</a>
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href='author.html'>Admin</a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                01 Nov, 2025
                            </span>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
                        </p>
                        <a class='read-more pull-right' href='single.html'>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="row">
                <div class="col-md-4">
                    <a class="post-img" href="single.html"><img src="images/post-format.jpg" alt=""/></a>
                </div>
                <div class="col-md-8">
                    <div class="inner-content clearfix">
                        <h3><a href='single.html'>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <div class="post-information">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='category'>PHP</a>
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href='author.html'>Admin</a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                01 Nov, 2025
                            </span>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
                        </p>
                        <a class='read-more pull-right' href='single.html'>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="row">
                <div class="col-md-4">
                    <a class="post-img" href="single.html"><img src="images/post_1.jpg" alt=""/></a>
                </div>
                <div class="col-md-8">
                    <div class="inner-content clearfix">
                        <h3><a href='single.html'>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <div class="post-information">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='category.html'>PHP</a>
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href='author.html'>Admin</a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                01 Nov, 2025
                            </span>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
                        </p>
                        <a class='read-more pull-right' href='single.html'>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="row">
                <div class="col-md-4">
                    <a class="post-img" href="single.html"><img src="images/post-format.jpg" alt=""/></a>
                </div>
                <div class="col-md-8">
                    <div class="inner-content clearfix">
                        <h3><a href='single.html'>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <div class="post-information">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='category.html'>PHP</a>
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href='author.html'>Admin</a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                01 Nov, 2025
                            </span>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
                        </p>
                        <a class='read-more pull-right' href='single.html'>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="row">
                <div class="col-md-4">
                    <a class="post-img" href="single.html"><img src="images/post_1.jpg" alt=""/></a>
                </div>
                <div class="col-md-8">
                    <div class="inner-content clearfix">
                        <h3><a href='single.html'>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <div class="post-information">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='category.html'>PHP</a>
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href='author.html'>Admin</a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                01 Nov, 2025
                            </span>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
                        </p>
                        <a class='read-more pull-right' href='single.html'>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="row">
                <div class="col-md-4">
                    <a class="post-img" href="single.html"><img src="images/post-format.jpg" alt=""/></a>
                </div>
                <div class="col-md-8">
                    <div class="inner-content clearfix">
                        <h3><a href='single.html'>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <div class="post-information">
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='category.html'>PHP</a>
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href='author.html'>Admin</a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                01 Nov, 2025
                            </span>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
                        </p>
                        <a class='read-more pull-right' href='single.html'>read more</a>
                    </div>
                </div>
            </div>
        </div>
        <nav>
                <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#" aria-current="page">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
                </ul>
            </nav>
    </div>
<!-- /post-container -->

 <!-- Comments Section -->
    <div class="comments-section mt-5">
        <h3>Comments</h3>
        
        <!-- Comment Form -->
        <div class="card mb-4">
            <div class="card-body">
                <form action="/article/1/comment" method="POST">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Comment</label>
                        <textarea class="form-control" name="content" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                </form>
            </div>
        </div>

        <!-- Display Comments -->
        <div class="comments-list">
            <div class="card mb-3">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">User Name</h6>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam est laboriosam rerum saepe odit exercitationem earum sequi in ipsum culpa!</p>
                <small class="text-muted">Posted on 10-10-2020</small>
            </div>
            </div>
        </div>
    </div>